.invoice {
  position: fixed;
  top: 5%;
  left: 35%;
  z-index: 8;
  background-color: #fff;
  width: 50%;
  max-height: 100vh;
  overflow-y: auto;

  .form {
    max-height: 100%;
    overflow-y: auto;
  }
}

.f-con {
  width: 100% !important;
  outline: none;
  border: none;
  border-bottom: 2px solid #d9d9d9;
  &:focus {
    outline: none;
    border: none;
  }
}

.btn-send {
  width: 60%;
}

.btn-cancel {
  width: 30%;
}

.warning {
  color: #fb0000;
}

.hidden {
  display: none;
}

.confirm,
.cancel {
  border-radius: 10px;
  background: linear-gradient(154deg, #0051ff 0%, #0b0230 100%);
  h6 {
    color: #fff;
  }
  input {
    outline: none;
    border: none;
    &:focus {
      border: 1px solid green;
    }
  }
  .grp {
    color: #fff;
  }
  textarea {
    outline: none;
    border: none;
    resize: none;
    &:focus {
      border: 1px solid green;
    }
  }
}

.success {
  background-color: #fff;
}

.s-close {
  margin-left: 6rem;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .invoice {
    top: 2%;
  }
}

@media screen and (max-width: 1023px) {
  .invoice {
    width: 65%;
    left: 20%;
    top: 10%;
  }
}

@media screen and (max-width: 767px) {
  .invoice {
    width: 90%;
    left: 5%;
    top: 10%;
  }
}
