.PhoneInputCountry {
  border: solid 2px rgb(228, 224, 224) !important;
  padding-left: 2px;
  border-right: none !important;
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}

.PhoneInput input {
  border-left: none !important;
  margin-left: -6px !important;
  border-radius: 0 !important;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}
.acct-btn {
  width: 100%;
  margin-top: 6px;
  color: #fff;
  padding: 10px 0;
  border: none;
  border-radius: 10px;
  background: #2962f2;
  font-family: AgrandirBold;
  font-size: 18px;
}
.acct-btn:disabled {
  background: #abbce7;
}
.sliderBody input {
  border: solid 2px rgb(228, 224, 224);
  height: 43px;
  width: 100%;
  border-radius: 10px;
  /* margin-top: -5px; */
}
.acc-form h6 {
  margin-top: 15px;
  margin-bottom: 0px;
}
.acc-form img {
  margin-top: -30px;
  border-right: solid 1px rgb(226, 220, 220) !important;
  border-radius: 7px;
  float: right;
}
