.form-container {
  height: fit-content;
  box-shadow: 0 0 5px 5px rgb(206, 206, 206);
  margin-top: 70px;
  border-radius: 20px;
  padding: 30px 0;
  margin-bottom: 50px;
}
.form-heading {
  box-shadow: 0px 8px 5px 0px rgba(206, 206, 206, 0.75);
  -webkit-box-shadow: 0px 8px 5px 0px rgba(206, 206, 206, 0.75);
  -moz-box-shadow: 0px 8px 5px 0px rgba(206, 206, 206, 0.75);
  padding: 0 40px;
}
.form-heading h4 {
  color: #2962f2;
  font-family: AgrandirBold;
  margin-top: 10px;
}
.sign-form-body input {
  height: 50px;
  width: 100%;
  border-radius: 10px;
  /* margin-top: -10px; */
  border: solid 3px rgb(202, 197, 197);
  padding-left: 40px;
}
::placeholder {
  font-family: AgrandirRegular;
  color: grey;
  font-size: 12px;
}
.sign-form-body {
  padding: 30px 25px 10px 25px;
}
.sign-form-body h6 {
  margin-top: 35px;
  font-family: AgrandirBold;
}
.sign-form-body button {
  width: 100%;
  margin-top: 60px;
  color: #fff;
  padding: 20px 0;
  border: none;
  border-radius: 10px;
  background: #2962f2;
  font-family: AgrandirBold;
  font-size: 18px;
}
.form-links {
  color: #2962f2;
  text-decoration: none;
  font-family: AgrandirBold;
}
.form-links span {
  font-size: 20px;
}
.sign-form-body p {
  color: black;
  font-family: AgrandirBold !important;
  margin-top: 45px;
  margin-bottom: 0;
}
.sign-in:disabled {
  background: #abbce7;
}
.form-container img {
  margin-left: -35px;
  border-right: solid 1px rgb(226, 220, 220) !important;
  border-radius: 7px;
}
.forget-password-div {
  background: blue;
  /* height: 800px; */
  margin: 0 !important;
  padding: 300px 0;
}
.forget-password-form {
  background: #fff;
  height: 300px;
  /* margin-top: 50%; */
}
