.payment-method {
  width: 100%;
  .form-container {
    width: 100%;
    box-shadow: 0px 3px 10px 5px rgba(0, 0, 0, 0.25);
    justify-content: center;
    .remitance-btn-container {
      display: flex;
      .remitance-btn {
        background-color: #0b0230;
        border-radius: 1rem;
        width: 20%;
        background-color: #0b0230;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-left: 2%;
      }
    }
    .form {
      width: 100%;
      .paymentimg {
        width: 100%;
        min-height: 80vh;
        font-family: AgrandirTinItalic;
        background: url(../../Assets/payment-img.png) no-repeat center;
        font-size: 1rem;
      }
    }
  }

  .heading-text {
    font-family: KB-sans-Bold;
    .page-text {
      color: #f40909eb;
    }
  }

  .remitance-form {
    width: 100%;
    font-family: KB-sans-Bold;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
    .items-container {
      width: 50%;

      .success {
        width: 30%;
        height: 50%;
        background-color: #fff;
        top: 20%;
        right: 25%;
        border-radius: 10px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);

        .success-items-container {
          height: 90%;
          .success-icon {
            height: 80%;
          }
        }

        .footer-section {
          .items-container {
            width: 100%;
            .first-content {
              width: 60%;
            }
            .second-content {
              width: 40%;
            }
          }
        }
      }
    }
  }
}

.inputs-container {
  width: 100%;

  .banks,
  .payment-interval {
    width: 100%;
    padding: 5% 8%;
    border-radius: 0.8rem;
    border: 2px solid #c1bdbd;
    font-size: 1rem;
    background-color: transparent;
    &:focus {
      border: none;
      outline: 2px solid #c1bdbd;
    }
    .select-value {
      font-size: 2rem;
      padding: 4% 4%;
      background-color: transparent;
      &:checked {
        background-color: #1b0088;
        color: #fff;
      }
      &:hover {
        background-color: #1b0088 !important;
      }
    }
  }

  .inputs-container-2 {
    width: 100%;
    .input {
      width: 100%;
      padding: 5% 8%;
      border-radius: 0.8rem;
      border: 2px solid #c1bdbd;
      &:focus {
        border: none;
        outline: 2px solid #c1bdbd;
      }
    }
    .value-copy {
      margin-left: -8%;
      cursor: pointer;
    }
  }

  .input {
    width: 100%;
    padding: 5% 8%;
    border-radius: 0.8rem;
    border: 2px solid #c1bdbd;
    &:focus {
      border: none;
      outline: 2px solid #c1bdbd;
    }
  }
}

.form-btn {
  margin-top: 10%;
}

.select-options {
  width: 25%;
  margin-top: 2%;

  select {
    width: 100%;
    padding: 10%;
    border-radius: 0.4rem;
    &:focus {
      outline: none;
    }
  }
}

.checkbox:checked {
  accent-color: #fff;
}

@media screen and (max-width: 1023px) {
  .payment-method {
    width: 70%;
    .form-container {
      width: 100%;
      .remitance-btn-container {
        flex-wrap: wrap;
        justify-content: center;
        .remitance-btn {
          width: 40%;
          margin-top: 2%;
        }
      }
    }

    .remitance-form {
      width: 100%;
      margin-top: 5%;
      .items-container {
        width: 60%;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .payment-method {
    width: 100%;
    .form-container {
      width: 100%;
      box-shadow: none;
      .remitance-btn-container {
        flex-wrap: wrap;
        justify-content: center;
        .remitance-btn {
          width: 40%;
          margin-top: 2%;
        }
      }
    }

    .remitance-form {
      width: 100%;
      margin-top: 5%;
      .items-container {
        width: 80%;
      }
    }
  }
}
