.sliderBody {
  background: #fff;
  height: 200px !important;
  display: block !important;
}
.sliderBody input {
  border: solid 2px rgb(228, 224, 224);
  height: 43px;
  width: 100%;
  border-radius: 10px;
  /* margin-top: -5px; */
}
.css-1hb7zxy-IndicatorsContainer {
  /* border-radius: 10px !important; */
  margin-top: 4px !important;
  border: solid 2px rgb(228, 224, 224) !important;
  border-left: none !important;
  height: 45px !important;
  margin-left: -15px !important;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  /* margin-bottom: 50px !important; */
}
.css-qbdosj-Input {
  border: solid 2px rgb(228, 224, 224) !important;
  height: 45px !important;
  width: 105% !important;
  /* margin-bottom: 50px !important; */
  /* margin-top: 30px !important; */
  margin-left: -5px !important;
  border-right: none !important;
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}
.sliderBody h6 {
  margin-top: 25px;
  color: grey;
  font-family: AgrandirRegular;
}
.slider-container {
  margin-top: 40px !important;
  padding: 0px 30px;
  /* right: 0% !important; */
  /* background: red; */
}
.sliderContainer {
  background: #fff !important;
}
.closeBtn {
  display: none;
}

@media screen and (max-width: 620px) {
  .slider-container {
    left: 5% !important;
  }
}

@media screen and (max-width: 620px) {
  .otp-slide {
    left: 5%;
  }
}
.account-type-btn2 {
  height: 230px;
  border-radius: 30px;
  padding: 20px 130px;
  margin: 40px 0;
  border: none;
  background: #f49b09eb;
  color: #082e88;
}

.account-type-btn p {
  line-height: 22px;
  color: #082e88;
  font-weight: bold;
}
.account-type-btn2 h6 {
  font-family: AgrandirBold;
  color: #082e88;
}

.PhoneInputCountry {
  border: solid 2px rgb(228, 224, 224) !important;
  padding-left: 2px;
  border-right: none !important;
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}

.PhoneInput input {
  border-left: none !important;
  margin-left: -6px !important;
  border-radius: 0 !important;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}
.acct-btn {
}
